snippet pr
	PRINT("${1}");

snippet $t
	$this->

snippet if
	if(${1}) {
		${2}
	}

snippet fun
	public function ${1}() 
	{
		${2}
	}

snippet sfun
	public static function ${1} 
	{
		${2}
	}

snippet vd
	echo '<PRE>' . var_dump(${1}) . '</PRE>';

snippet err
	error_log("${1}");

